.txt-ctr {
    text-align: center;
}

.txt-r {
    text-align: right;
}

.txt-bold {
    font-weight: bold;
}

.txt-up {
    text-transform: uppercase;
}

.txt-space {
    letter-spacing: 6px;
}



.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.ml-20 {
    margin-left: 20px;
}
.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}



.color-brand-dark {
    color: $brand-color-dark;
}
.color-brand-light {
    color: $brand-color-light;
}
.color-black {
    color: $black-var;
}

.band-tag-back {
    display: inline-block;
    background-color: rgba(4, 131, 131, 0.2);
    border-radius: 5px;
    padding: 5px 15px;
}



h2 {
    font-size: 40px;
}
.font-s14 {
    font-size: 14px;
}
.font-s30 {
    font-size: 30px;
}



.btn-main {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid $brand-color-dark;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $brand-color-dark;
    color: $white;
}
.btn-sec {
    display: inline-block;
    text-transform: uppercase;
    border: 2px solid $brand-color-dark;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: $white;
    color: $brand-color-dark;
}



.circle-back {
    display: inline-block;
    border-radius: 50%;
    background-color: #cde6e6;
    color: $brand-color-dark;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
}

.circle-back-alt {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(4, 131, 131, 0.2);
    color: $brand-color-dark;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}