$black-var: #121117;
$white: #ffffff;

$brand-color: #048383;

$grey-dark: #5c5e5e;
$grey-lihht: #aeb0b0;
$orange-dark: #c86f29;
$orange-light: #feb169;
$blue-aqua-dark: #45bbbc;
$blue-aqua-light: #96fefe;